body{
  margin: 0;
  padding: 0;
}

.navbar-nav .dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}

* {
  ::-webkit-scrollbar {
    display: none;
  }
}

.loader{
  position: fixed;
  left: 45%;
  top: 50vh;
  z-index: 100;
}

.error_message{
  color: red;
  font-size: 14px;
  padding: 8px;
}

.detailnewscard{
  padding: 19px;
}

.cursor-pointer{
  cursor: pointer;
}

.article-heart{
  position: absolute;
  right: 4px;
  color: red;
  top: 7px;
  cursor: pointer;
}
.toggle-grid{
  font-size: 30px;
  margin-bottom: -25px;
  cursor: pointer;
}